/*theme*/

body.light {
  background-color: rgb(247, 231, 208);
  color: black;
}
header.light {
  background-color: rgb(247, 231, 208);
  color: black;
}
button.dark {
  background-color: rgb(39, 39, 58);
}
button {
  background-color: rgb(247, 231, 208);
  border-radius: 0.3rem;
  color: rgb(255, 136, 0);
  border: none;
  cursor: pointer;
  float: right;
  z-index: 21;
  position: absolute;
  right: 0;
  margin: 0.5rem 0.5rem 0 0;
}

h2 {
  text-align: center;
}

.cards {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  border-radius: 10px; /*arondie des carte*/
  width: 500px; /*largeur de l'image*/
  margin: 20px 50px 20px 50px; /*marge entre les image (top right bot left*/
  display: flex;
  flex-direction: column;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; /*ombre lumineuse des image*/
  overflow: hidden; /*animation*/
  transition: transform 0.4s; /*animation*/

}

.card:hover {
  cursor: pointer; /*animation*/
  transform: scale(1.08); /*animation*/
}

.card-header {
  z-index: -1 !important;
}

.card-img {
  display: flex;
  border-radius: 10px 10px 0 0;
  background-size: cover;
  background-position: center;
  background-image: url("assets/porte_konoha.jpg");
  height: 300px; /*hauteur de l'image*/
  width: 100%; /*affiche de 100% sur l'image*/
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-body {
  padding: 10px 20px;  
}
.card-body h2 {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img p {
  /*cacher le texte*/
  opacity: 0; /*transparence de l'image ("0" = invisible=*/
  /*padding-top: 300px; /*position par rapport au top*/
  transition: all 1.5s; /*temps d'affiche de l'animation*/
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateY(-100%);
}

.card:hover .card-img p {
  /*montrer le texte*/
  opacity: 1; /*transparence de l'image ("1" = aucune=*/
 /* padding-top: 0px; /*position par rapport au top*/
  transition: all 1.5s; /*temps d'affiche de l'animation*/
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .cards {
    margin-top: 100px;
  }
}
